<aside class="fixed top16 w-80 bg-gray-300 min-h-[calc(100vh_-_4rem)]">
    <ul>
      <li routerLink="" class="p-4 cursor-pointer " routerLinkActive="bg-blue-100 border-l-4 border-blue-500 font-bold" [routerLinkActiveOptions]="{exact: true}">All</li>
      <li routerLink="important" class="p-4 cursor-pointer" routerLinkActive="bg-blue-100 border-l-4 border-blue-500 font-bold">Important</li>
      <li routerLink="completed" class="p-4 cursor-pointer" routerLinkActive="bg-blue-100 border-l-4 border-blue-500 font-bold">Completed</li>
    </ul>
  </aside>